body{
    background-size: cover ;
    background-attachment: fixed;
    background-image: url("Images/fifawordcup.jpg");

}


.ftop-style{
    color: white;
    margin-left: 0;
    list-style-position: inside;
    list-style-image: url("Images/football.png");

    & a{
        color: white;
        text-decoration: none;
    }
    & #QətərİD{
        list-style-image: url("Images/qatar.png");
    }
    & #EkvadorİD{
        list-style-image: url("Images/ecuador.png");
    }
    & #SeneqalİD{
        list-style-image: url("Images/senegal.png");
    }
    & #NiderlandİD{
        list-style-image: url("Images/netherlands.png");
    }
    & #İngiltərəİD{
        list-style-image: url("Images/united-kingdom.png");
    }
    & #İranİD{
        list-style-image: url("Images/iran.png");
    }
    & #ABŞİD{
        list-style-image: url("Images/united-states.png");
    }
    & #UelsİD{
        list-style-image: url("Images/wales.png");
    }
    & #ArgentinaİD{
        list-style-image: url("Images/argentina.png");
    }
    & #SəudiyyəİD {
        list-style-image: url("Images/saudi-arabia.png");
    }
    & #MeksikaİD {
        list-style-image: url("Images/mexico.png");
    }
    & #PolşaİD {
        list-style-image: url("Images/flag.png");
    }
    & #FransaİD {
        list-style-image: url("Images/france.png");
    }
    & #AvstraliyaİD {
        list-style-image: url("Images/australia.png");
    }
    & #DanimarkaİD {
        list-style-image: url("Images/danimarka.png");
    }
    & #TunisİD {
        list-style-image: url("Images/Tunisian.png");
    }
    & #SpainID{
        list-style-image: url("Images/Spanish.png");
    }
    & #CostaID{
        list-style-image: url("Images/costa-rica.png");
    }
    & #GermanyID{
        list-style-image: url("Images/germany.png");
    }
    & #JapanID{
        list-style-image: url("Images/japanese.png");
    }
    & #BelgiumID{
        list-style-image: url("Images/belgium.png");
    }
    & #BelgiumID{
        list-style-image: url("Images/belgium.png");
    }

    & #CanadaID{
        list-style-image: url("Images/canada.png");
    }
    & #MoroccoID{
        list-style-image: url("Images/morocco.png");
    }
    & #CroatiaID{
        list-style-image: url("Images/Croatia.png");
    }
    & #BrazilID{
        list-style-image: url("Images/brazil.png");
    }
    & #SerbiaID{
        list-style-image: url("Images/Serbian.png");
    }
    & #SwitzerlandID{
        list-style-image: url("Images/switzerland.png");
    }
    & #CameroonID{
        list-style-image: url("Images/cameroon.png");
    }
    & #PortugalID{
        list-style-image: url("Images/portugal.png");
    }
    & #GhanaID{
        list-style-image: url("Images/ghana.png");
    }
    & #UruguayID{
        list-style-image: url("Images/uruguay.png");
    }
    & #KoreaID{
        list-style-image: url("Images/south-korea.png");
    }

}
