body{
    background-size: cover ;
    background-image: url("Images/fifawordcup.jpg");

}


.ftop-style{
    color: black;
    margin-left: 830px;
    list-style-position: inside;
    list-style-image: url("Images/football.png");
    & a{
        color: black;
    }
    & #QətərİD{
        list-style-image: url("Images/qatar.png");
    }
    & #EkvadorİD{
        list-style-image: url("Images/ecuador.png");
    }
    & #SeneqalİD{
        list-style-image: url("Images/senegal.png");
    }
    & #NiderlandİD{
        list-style-image: url("Images/netherlands.png");
    }
    & #İngiltərəİD{
        list-style-image: url("Images/united-kingdom.png");
    }
    & #İranİD{
        list-style-image: url("Images/iran.png");
    }
    & #ABŞİD{
        list-style-image: url("Images/united-states.png");
    }
    & #UelsİD{
        list-style-image: url("Images/wales.png");
    }
    & #ArgentinaİD{
        list-style-image: url("Images/argentina.png");
    }
    & #SəudiyyəİD {
        list-style-image: url("Images/saudi-arabia.png");
    }
    & #MeksikaİD {
        list-style-image: url("Images/mexico.png");
    }
    & #PolşaİD {
        list-style-image: url("Images/flag.png");
    }
    & #FransaİD {
        list-style-image: url("Images/france.png");
    }
    & #AvstraliyaİD {
        list-style-image: url("Images/australia.png");
    }
    & #DanimarkaİD {
        list-style-image: url("Images/danimarka.png");
    }
    & #TunisİD {
        list-style-image: url("Images/Tunisian.png");
    }

}
